:root {
    --color-primary: hsl(0, 100%, 50%),
    --color-secondary: hsl(48, 100%, 50%),
    --color-success: hsl(145, 63%, 49%),
    --color-light-success: hsl(142, 71%, 93%),
    --color-warning: hsl(6, 78%, 57%),
    --color-light-warning: hsl(8, 58%, 93%),
    --color-alert: hsl(204, 70%, 53%),
    --color-custom: hsl(0, 0%, 80%),
    --color-light-grey: hsl(240, 33%, 96%),
    --color-dark-grey: hsl(0, 0%, 33%),
    --color-dark: hsl(0, 0%, 0%),
    --color-light: hsl(0, 0%, 100%),
}
$body-background: var(--color-light);
$body-font-color: var(--color-dark-grey);